In [1]:
import pandas as pd

In [4]:
pd.read_csv("E://Projects//Udacity-DS//Project2//data//disaster_messages.csv")

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct
...,...,...,...,...
26243,30261,The training demonstrated how to enhance micro...,NaN,news
26244,30262,A suitable candidate has been selected and OCH...,NaN,news
26245,30263,"Proshika, operating in Cox's Bazar municipalit...",NaN,news
26246,30264,"Some 2,000 women protesting against the conduc...",NaN,news
26247,30265,A radical shift in thinking came about as a re...,NaN,news

In [32]:
df= pd.read_csv("E://Projects//Udacity-DS//Project2//data//disaster_categories.csv")

In [33]:
categories = df['categories'].str.split(';', expand=True)
# use the first row to get column's names
row_1st = categories.head(1)
# since the value of columns is 0 or 1, we use the last character as value and n-2 character as column's name
category_colnames = row_1st.applymap(lambda x: x[:-2]).iloc[0,:]
categories.columns = category_colnames 
for column in categories:
    categories[column] = categories[column].astype(str).str[-1]
    categories[column] = categories[column].astype(int)
  
#categories = categories[categories['related']!= 2]

df.drop('categories', axis=1, inplace=True)

# concatenate the original dataframe with `categories` dataframe
df = pd.concat([df, categories], axis=1)
# value of df['related'] == 2 is much less than 1% so that we may need to drop this
df=df[df['related']!=2]
# drop duplicates
df.drop_duplicates(inplace=True)

In [34]:
import sys
import pandas as pd

def load_data(messages_filepath, categories_filepath):
    # load dataset from 2 file and merge into 1 dataframe, return in df
    messages = pd.read_csv(messages_filepath)
    categories = pd.read_csv(categories_filepath)
    # create new df and merge datasets on common id
    df = messages.merge(categories, how ='outer', on =['id'])
    return df


def clean_data(df):
    # clean the data
    categories = df['categories'].str.split(';', expand=True)
    # use the first row to get column's names
    row_1st = categories.head(1)
    # since the value of columns is 0 or 1, we use the last character as value and n-2 character as column's name
    category_colnames = row_1st.applymap(lambda x: x[:-2]).iloc[0,:]
    categories.columns = category_colnames 
    for column in categories:
        categories[column] = categories[column].astype(str).str[-1]
        categories[column] = categories[column].astype(int)

    #categories = categories[categories['related']!= 2]

    df.drop('categories', axis=1, inplace=True)

    # concatenate the original dataframe with `categories` dataframe
    df = pd.concat([df, categories], axis=1)
    # value of df['related'] == 2 is much less than 1% so that we may need to drop this
    df=df[df['related']!=2]
    # drop duplicates
    df.drop_duplicates(inplace=True)
    return df


def save_data(df, database_filename):
    engine = create_engine(f'sqlite:///{database_filepath}')
    df.to_sql('disaster_messages', engine, index=False, if_exists='replace')    


def main():
    if len(sys.argv) == 4:

        messages_filepath, categories_filepath, database_filepath = sys.argv[1:]

        print('Loading data...\n    MESSAGES: {}\n    CATEGORIES: {}'
              .format(messages_filepath, categories_filepath))
        df = load_data(messages_filepath, categories_filepath)

        print('Cleaning data...')
        df = clean_data(df)
        
        print('Saving data...\n    DATABASE: {}'.format(database_filepath))
        save_data(df, database_filepath)
        
        print('Cleaned data saved to database!')
    
    else:
        print('Please provide the filepaths of the messages and categories '\
              'datasets as the first and second argument respectively, as '\
              'well as the filepath of the database to save the cleaned data '\
              'to as the third argument. \n\nExample: python process_data.py '\
              'disaster_messages.csv disaster_categories.csv '\
              'DisasterResponse.db')


if __name__ == '__main__':
    main()

,id,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
count,26028.000000,26028.000000,26028.000000,26028.000000,26028.000000,26028.000000,26028.000000,26028.000000,26028.000000,26028.000000,...,26028.000000,26028.000000,26028.000000,26028.000000,26028.00000,26028.000000,26028.000000,26028.000000,26028.000000,26028.000000
mean,15250.256954,0.764792,0.171892,0.004534,0.417243,0.080068,0.050446,0.027816,0.018096,0.033041,...,0.011872,0.044222,0.280352,0.082795,0.09386,0.010834,0.094321,0.020363,0.052866,0.194982
std,8841.426294,0.424137,0.377294,0.067180,0.493113,0.271403,0.218867,0.164449,0.133301,0.178748,...,0.108311,0.205591,0.449180,0.275578,0.29164,0.103525,0.292281,0.141240,0.223771,0.396195
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7439.750000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,15756.500000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,22969.500000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
max,30265.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000